extends layout

block content
  h1= title
  .container-fluid
    .row
      - for (let movie of results)
        .col-sm-2
          h2= movie.movie_name
          p movie name: #{movie.movie_name}
          p director: #{movie.director}
          p Rating: #{movie.rating}
  br
  h5= 'buy'

  div(class="container-fluid")
    each movie,index in results
      div(class="row", onclick=`buy(${index})`)
        div(class="col-sm-2") <br>movie #{index}: #{movie.movie_name} director:#{movie.director} Rating:#{movie.rating}
  script.
        function buy(price){
          alert('You purchased item ' + price)
        
        }